{:paths   ["src/clj" "src/cljc" "src/cljs" "resources"]

 :deps    {bidi/bidi {:mvn/version "2.1.6"}
           ch.qos.logback/logback-classic    {:mvn/version "1.6.3"}
           com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
           com.zaxxer/HikariCP {:mvn/version "7.1.0"}
           garden/garden {:mvn/version "1.3.10"}
           info.sunng/ring-jetty9-adapter    {:mvn/version "0.40.4"}
           integrant/integrant {:mvn/version "1.0.1"}
           reagent/reagent {:mvn/version "2.0.1"}
           ring/ring-core {:mvn/version "1.15.5"}}

 :aliases {:shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.5.3"}}}

           :dev         {:extra-paths ["dev"]
                         :extra-deps  {cider/piggieback     {:mvn/version "0.7.0"}
                                       integrant/repl       {:mvn/version "0.5.1"}
                                       thheller/shadow-cljs {:mvn/version "3.5.3"}}
                         :main-opts   ["-m" "shadow.cljs.devtools.cli" "server"]}

           :build       {:extra-deps {io.github.clojure/tools.build
                                      {:git/tag "v0.10.14"
                                       :git/sha "1176afd"
                                       :git/url "https://github.com/clojure/tools.build"}}
                         :ns-default build}}}
