{:paths   ["src/clj" "src/cljc" "src/cljs" "resources" "test"]
 :deps    {bidi/bidi                      {:mvn/version "2.1.6"}
           ch.qos.logback/logback-classic {:mvn/version "1.6.4"}
           cheshire/cheshire              {:mvn/version "6.2.0"}
           com.techascent/tmd-parquet     {:mvn/version "1.001"}
           garden/garden                  {:git/url "https://github.com/noprompt/garden" :git/sha "7a47503d0481382f85b643ae431cefb2ad88ee4c"}
           info.sunng/ring-jetty9-adapter {:mvn/version "0.40.4"}
           integrant/integrant            {:mvn/version "1.0.1"}
           io.github.perrygeo/cartoj      {:mvn/version "0.3.0"}
           reagent/reagent                {:mvn/version "2.0.1"}
           ring/ring-core                 {:mvn/version "1.15.5"}
           techascent/tech.ml.dataset     {:mvn/version "8.026"}}
 :aliases {:shadow-cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.5.3"}}}
           :dev         {:extra-paths ["dev"]
                         :extra-deps  {cider/piggieback     {:mvn/version "0.7.0"}
                                       integrant/repl       {:mvn/version "0.5.1"}
                                       thheller/shadow-cljs {:mvn/version "3.5.3"}}
                         :main-opts   ["-m" "shadow.cljs.devtools.cli" "server"]}
           :build       {:extra-paths ["build"]
                         :extra-deps  {io.github.clojure/tools.build
                                       {:git/tag "v0.10.14"
                                        :git/sha "1176afd"
                                        :git/url "https://github.com/clojure/tools.build"}}
                         :ns-default  build}
           :test        {:extra-paths ["test"]
                         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                         :main-opts   ["-m" "kaocha.runner"]}
           :coverage    {:extra-paths ["test"]
                         :extra-deps  {cloverage/cloverage {:mvn/version "1.2.4"}}
                         :main-opts   ["-m" "cloverage.coverage"
                                       "--src-ns-path" "src/clj"
                                       "--src-ns-path" "src/cljc"
                                       "--test-ns-path" "test"
                                       "--output" "target/coverage"]}}}
